body {
    background-color: #E9EAED;
    font-family: Droid Sans, Trebuchet MS;
    margin: 0;
}
.content {
    margin: 0 15px;
}
.code {
    white-space: pre-line;
    background-color: white;
    width: 700px;
    padding-left: 30px;
    padding-bottom: 18px;
}
.code .output {
    margin-left: 50px;
    color: #00c7ff;
}
.inlineCode {
    background-color: #e8ef88;
    /*border: 1px solid black;*/
    padding: 2px;
    font-style: italic;
    margin-right: 2px;
    padding-top: 0px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.bold {
    font-weight: bold;
}
/* The below styles are taken from dionyziz's <dionyziz@gmail.com> guide
 * on complexity. http://discrete.gr/complexity/
*/
h1, h2 {
    text-shadow: 1px 1px 0px white;
}
.bottom {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    background-color: #111;
    color: white;
    padding: 10px 10px 30px;
    margin-top: 20px;
    position: relative;
}
.bottom a {
    color: white;
}
.bottom .license {
    position: absolute;
    left: 50%;
    z-index: 1;
}
.bottom .license img {
    position: relative;
    top: 3px;
}
.bottom .twitter-share-button {
    float: right;
    left: 3px;
    padding-right: 13px;
    position: relative;
    top: -3px;
}
.bottom a:hover {
    color: white;
    text-decoration: underline;
    background-color: transparent;
}
#donate {
    margin: 0 5px;
    float: right;
}
#donate-bubble {
    display: none;
    position: absolute;
    font-size: 90%;
    right: 10px;
    bottom: 38px;
    background-color: #111;
    padding: 8px 6px;
    border-radius: 5px;
}
#donate-bubble:before {
    content: '▼';
    position: absolute;
    bottom: -17px;
    right: 97px;
    color: #111;
    font-size: 150%;
}
#donate-bubble input {
    display: block;
    width: 300px;
    margin: 5px 0 0 0;
}
